doctype html
html(lang='en', data-ng-app='bundle')
    head
        link(rel='stylesheet' href='css/app.css')
        link(rel='stylesheet' href='lib/ionic/css/ionic.css')
        link(rel='stylehseet' href='lib/font-awesome/css/font-awesome.min.css')
    body
        ion-nav-bar.bar-positive

        ion-nav-view(name="home")
        // App Scripts
        script(src='lib/ionic/js/ionic.bundle.js')
        script(src='lib/ngCordova/dist/ng-cordova.min.js')
        script(src='lib/lodash/lodash.min.js')
        script(src='cordova.js')
        script(src='js/app.js')
        include ./templates.jade