.bar.bar-header.bar-light
    h1.title Barcode Scanner


.bar.bar-footer.bar-balanced
    ion-tabs.tabs-positive
        ion-tab(icon="ion-home" ui-sref="home")
            ion-nav-view(name="home")
        ion-tab(icon="ion-help" ui-sref="help")
            ion-nav-view(name="help")