ion-view(title="Home" ng-controller="DashboardCtrl")
    ion-content(padding="true")
        div: ul: li(ng-repeat="item in items()") {{item}}
    .bar.bar-footer
        button.button.button-clear: i.fa.fa-chevron-left
        .title: i.fa.fa-camera
        button.button.button-clear: i.fa.fa-chevron-right