ion-view(title="Home")
    ion-content(padding="true")
        div(style="height: 300px")
            h1 CAMERA GOES HERE
            button.button(ng-click="startScan") SCAN
        div
            ul
                li(ng-repeat="item in items") {{item}}